<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.liquid -%}
  <body>
    {%- include header.liquid -%}
    <div class="error-layout">
      <div class="error-layout__content">
        {{ content }}
        <p class="error-layout__subtitle">Try searching for what you need<p>
      </div>
    </div>
    {%- include footer.liquid -%}
    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>
  </body>
</html>
