<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.liquid home_title=true -%}
  <body>
    {{ content }}
    <script src="{{ "/assets/js/header.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/search.js" | relative_url }}"></script>
  </body>
</html>
