<footer class="footer">
  <div class="footer__top">
    <img alt="The Programming Language Documentation" class="footer__logo" src="/assets/logo-color.svg" />
    <div class="footer-nav">
      <div class="footer-nav__section">
        <div class="footer-nav__headline">News</div>
        <ul class="footer-nav__items">
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://twitter.com/thelang_io" rel="nofollow noopener noreferrer" target="_blank">Twitter<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://t.me/thelang_ann" rel="nofollow noopener noreferrer" target="_blank">Telegram<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://discord.gg/CTMM583G7V" rel="nofollow noopener noreferrer" target="_blank">Discord<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
        </ul>
      </div>
      <div class="footer-nav__section">
        <div class="footer-nav__headline">Social</div>
        <ul class="footer-nav__items">
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://twitter.com/thelang_io" rel="nofollow noopener noreferrer" target="_blank">Twitter<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://www.instagram.com/thelang_io/" rel="nofollow noopener noreferrer" target="_blank">Instagram<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://www.facebook.com/thelang.io" rel="nofollow noopener noreferrer" target="_blank">Facebook<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
        </ul>
      </div>
      <div class="footer-nav__section">
        <div class="footer-nav__headline">Community</div>
        <ul class="footer-nav__items">
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://forum.thelang.io/" rel="nofollow noopener noreferrer" target="_blank">Forum<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://discord.gg/CTMM583G7V" rel="nofollow noopener noreferrer" target="_blank">Discord<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://t.me/thelang_io" rel="nofollow noopener noreferrer" target="_blank">Telegram<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
        </ul>
      </div>
      <div class="footer-nav__section">
        <div class="footer-nav__headline">Support</div>
        <ul class="footer-nav__items">
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://discord.gg/CTMM583G7V" rel="nofollow noopener noreferrer" target="_blank">Discord<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link" href="https://t.me/thelang_io" rel="nofollow noopener noreferrer" target="_blank">Telegram<i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
          <li class="footer-nav__item"><a class="footer-nav__item-link footer-nav__item-link--highlighted" href="mailto:support@thelang.io" rel="nofollow noopener noreferrer" target="_blank">support@thelang.io</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__copyright">
      Copyright &copy; 2018 Aaron Delasy
    </div>
    <div class="footer__social-links">
      <a class="footer__social-link" href="https://github.com/thelang-io/the" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a class="footer__social-link" href="https://twitter.com/thelang_io" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a class="footer__social-link" href="https://forum.thelang.io/" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-solid fa-comments"></i></a>
      <a class="footer__social-link" href="https://discord.gg/CTMM583G7V" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-discord"></i></a>
      <a class="footer__social-link" href="https://t.me/thelang_io" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-telegram"></i></a>
      <a class="footer__social-link" href="https://www.instagram.com/thelang_io/" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a class="footer__social-link" href="https://www.facebook.com/thelang.io" rel="nofollow noopener noreferrer" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
</footer>
