<header class="header">
  <div class="header__left">
    <a class="header-brand" href="/">
      <img alt="The Programming Language Documentation" class="header-brand__logo" src="/assets/logo-color.svg" />
      <span class="header-brand__text">Docs</span>
    </a>
    <ul class="header-nav">
      <li class="header-nav__item"><a href="/guides/" class="header-nav__item-link">Guides</a></li>
      <li class="header-nav__item"><a href="/api/" class="header-nav__item-link">API</a></li>
      <li class="header-nav__item"><a href="/examples/" class="header-nav__item-link">Examples</a></li>
    </ul>
  </div>
  <div class="header__right">
    <a class="header__link-brand" href="https://github.com/thelang-io/the" rel="noopener noreferrer" target="_blank">
      <img alt="GitHub Repository" src="/assets/icons/icon-brand-github.svg" />
    </a>
  </div>
</header>
