<form>
  <label class="search__wrapper">
    <span class="search__button"><i class="fa-solid fa-magnifying-glass"></i></span>
    <input id="search" class="search" name="q" placeholder="Search documentation" />
  </label>
</form>
