<div class="search-modal">
  <div class="search-modal__header">
    <button id="searchModalCancel" class="search-modal__close" type="button"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="search-modal__body">
    <form>
      <label class="search-modal__input-wrapper">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input id="searchModalInput" class="search-modal__input" placeholder="Type your search here" />
      </label>
    </form>
    <div class="search-modal__items-wrapper">
      <div class="search-modal__items"></div>
    </div>
  </div>
</div>
