{% if include.aside != false %}<aside class="sidebar">{% else %}<div class="sidebar">{% endif %}
  <div class="sidebar__header">
    <a class="brand" href="/">
      <img alt="The Programming Language Documentation" class="brand__logo" src="/assets/logo-color.svg" />
      <span class="brand__text">Docs</span>
    </a>
  </div>
  <div class="sidebar__body-wrapper">
    <div class="sidebar__body">
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/guides/">
        <button class="sidebar__section-headline">
          Guides
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/the-programming-language.html">The Programming Language</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/installation.html">Installation</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/types.html">Types</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/comments.html">Comments</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/operations.html">Operations</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/control-flow.html">Control Flow</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/iteration.html">Iteration</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/arrays.html">Arrays</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/objects.html">Objects</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/functions.html">Functions</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/mutability.html">Mutability</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/optionals.html">Optionals</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/references.html">References</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/modules.html">Modules</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/keywords.html">Keywords</a></li>
        </ul>
      </div>
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/api/">
        <button class="sidebar__section-headline">
          API
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/any.html">Primitive - Any</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/array.html">Primitive - Array</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/bool.html">Primitive - Bool</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/byte.html">Primitive - Byte</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/char.html">Primitive - Char</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/float.html">Primitive - Float</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/function.html">Primitive - Function</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/integer.html">Primitive - Integer</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/object.html">Primitive - Object</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/optional.html">Primitive - Optional</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/reference.html">Primitive - Reference</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/string.html">Primitive - String</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/primitives/void.html">Primitive - Void</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/globals.html">Globals</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/buffer.html">Buffer</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/fs.html">File System</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/os.html">Operating System</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/path.html">Path</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/process.html">Process</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/request.html">Request</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/url.html">URL</a></li>
        </ul>
      </div>
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/examples/">
        <button class="sidebar__section-headline">
          Examples
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/1-hello-world.html">Hello World</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/2-fibonacci.html">Fibonacci</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/3-quicksort.html">Quicksort Algorithm</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/4-fizzbuzz.html">FizzBuzz</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/5-factorial.html">Factorial</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/6-term-calculator.html">Terminal Calculator</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/7-term-pretty-waves.html">Terminal Pretty Waves</a></li>
        </ul>
      </div>
    </div>
  </div>
{% if include.aside == false %}</div>{% else %}</aside>{% endif %}
