{% if include.aside != false %}<aside class="sidebar">{% else %}<div class="sidebar">{% endif %}
  <div class="sidebar__header">
    <a class="brand" href="/">
      <img alt="The Programming Language Documentation" class="brand__logo" src="/assets/logo-color.svg" />
      <span class="brand__text">Docs</span>
    </a>
  </div>
  <div class="sidebar__body-wrapper">
    <div class="sidebar__body">
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/guides/">
        <button class="sidebar__section-headline">
          Guides
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/the-programming-language.html">The Programming Language</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/installation.html">Installation</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/cli.html">CLI</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/comments.html">Comments</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/operations.html">Operations</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/types.html">Types</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/mutability.html">Mutability</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/control-flow.html">Control Flow</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/iteration.html">Iteration</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/arrays.html">Arrays</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/enumerations.html">Enumerations</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/objects.html">Objects</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/maps.html">Maps</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/unions.html">Unions</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/functions.html">Functions</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/variadics.html">Variadic Parameters</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/optionals.html">Optionals</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/references.html">References</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/any.html">Any</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/type-aliasing.html">Type Aliasing</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/type-checking.html">Type Checking</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/error-handling.html">Error Handling</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/modules.html">Modules</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/guides/keywords.html">Keywords</a></li>
        </ul>
      </div>
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/api/">
        <button class="sidebar__section-headline">
          API
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/any.html">Primitive - Any</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/arr.html">Primitive - Array</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/bool.html">Primitive - Bool</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/byte.html">Primitive - Byte</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/char.html">Primitive - Char</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/enum.html">Primitive - Enumeration</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/float.html">Primitive - Float</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/fn.html">Primitive - Function</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/int.html">Primitive - Integer</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/map.html">Primitive - Map</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/obj.html">Primitive - Object</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/opt.html">Primitive - Optional</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/ref.html">Primitive - Reference</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/str.html">Primitive - String</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/union.html">Primitive - Union</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/void.html">Primitive - Void</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/globals.html">Globals</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/buffer.html">Buffer</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/date.html">Date</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/fs.html">File System</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/math.html">Math</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/os.html">Operating System</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/path.html">Path</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/process.html">Process</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/random.html">Random</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/request.html">Request</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/thread.html">Thread</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/url.html">URL</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/api/utils.html">Utils</a></li>
        </ul>
      </div>
      <div class="sidebar__section{% if include.aside == false %} sidebar__section--always-expanded{% endif %}" data-href="/examples/">
        <button class="sidebar__section-headline">
          Examples
          {% if include.aside != false %}
            <i class="fa-solid fa-chevron-down"></i>
            <i class="fa-solid fa-chevron-up"></i>
          {% endif %}
        </button>
        <ul class="sidebar__items">
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/1-hello-world.html">Hello World</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/2-fibonacci.html">Fibonacci</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/3-quicksort.html">Quicksort Algorithm</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/4-fizzbuzz.html">FizzBuzz</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/5-factorial.html">Factorial</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/6-term-calculator.html">Terminal Calculator</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/7-term-pretty-waves.html">Terminal Pretty Waves</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/8-term-tetris.html">Terminal Tetris</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/9-term-clock.html">Terminal Clock</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/10-term-matrix.html">Terminal Matrix</a></li>
          <li class="sidebar__item"><a class="sidebar__item-link" href="/examples/11-term-formula-calculator.html">Terminal Formula Calculator</a></li>
        </ul>
      </div>
    </div>
  </div>
{% if include.aside == false %}</div>{% else %}</aside>{% endif %}
