@import '../_vars';

.code {
  display: inline-block;
  white-space: nowrap;

  &__wrapper {
    overflow-x: auto;
    width: 100%;
  }

  &__line {
    min-height: 22.4px;
  }

  &__type {
    &-char {
      color: #50A14F;
    }

    &-comment {
      color: #A0A1A7;
    }

    &-id {
      color: #0184BC;
    }

    &-keyword {
      color: #A626A4;
    }

    &-number {
      color: #B76B01;
    }

    &-string {
      color: #50A14F;
    }
  }
}
