@import '../_vars';

.footer {
  background-color: $color-white-bg;
  border-top: 1px solid $color-border;

  &__top {
    column-gap: 100px;
    display: flex;
    flex-flow: row wrap;
    padding: 32px;
  }

  &__bottom {
    background-color: $color-light-bg;
    display: flex;
    justify-content: space-between;
    padding: 32px;
  }

  &__logo {
    height: 100px;
    width: 100px;
  }

  &__copyright {
    color: rgba($color-light-fg, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
  }

  &__social {
    &-links {
      column-gap: 30px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
    }

    &-link {
      color: $color-light-fg;
      font-size: 20px;

      &:hover {
        color: rgba($color-light-fg, 0.7);
        text-decoration: none;
        transition: ease-in-out 150ms;
      }
    }
  }

  &-nav {
    column-gap: 30px;
    display: flex;
    flex: 1 0 0;

    &__section {
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      row-gap: 20px;
    }

    &__headline {
      color: $color-white-fg;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
    }

    &__items {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      row-gap: 16px;
    }

    &__item {
      &-link {
        align-items: center;
        color: $color-white-fg;
        column-gap: 8px;
        display: inline-flex;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.2;
        text-decoration: none;

        &:hover {
          color: rgba($color-white-fg, 0.7);
          text-decoration: none;
          transition: ease-in-out 150ms;
        }

        &--highlighted {
          color: $color-accent1;

          &:hover {
            color: rgba($color-accent1, 0.7);
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .footer {
    &__top {
      column-gap: 0;
      flex-flow: column wrap;
      row-gap: 32px;
    }
  }
}

@media (max-width: 767.98px) {
  .footer {
    &__bottom {
      flex-direction: column;
      row-gap: 20px;
    }

    &-nav {
      column-gap: 30px;
      flex-flow: row wrap;
      row-gap: 32px;

      &__section {
        flex: 0 0 auto;
        width: calc(50% - 15px);
      }
    }
  }
}

@media (max-width: 575.98px) {
  .footer {
    &__top, &__bottom {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__bottom {
      padding-bottom: 48px;
      padding-top: 48px;
    }

    &__copyright {
      text-align: center;
    }

    &__social {
      &-links {
        justify-content: center;
      }
    }

    &-nav {
      column-gap: 15px;

      &__section {
        flex: 0 0 auto;
        width: calc(50% - 8px);
      }
    }
  }
}
