@import '../_vars';

.header {
  align-items: center;
  background-color: $color-white-bg;
  border-bottom: 1px solid $color-border;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 32px;

  &__left {
    align-items: center;
    column-gap: 30px;
    display: flex;
    height: 100%;
  }

  &__right {
    align-items: center;
    column-gap: 32px;
    display: flex;
    height: 100%;
  }

  &__link-brand {
    color: $color-white-fg;
    display: flex;
    font-size: 30px;

    &:hover {
      color: rgba($color-white-fg, 0.7);
      text-decoration: none;
      transition: ease-in-out 150ms;
    }
  }

  &__toggle {
    background: transparent;
    border: none;
    color: $color-white-fg;
    display: none;
    font-size: 30px;
    padding: 0;
  }

  &-nav {
    align-items: stretch;
    column-gap: 30px;
    display: flex;
    height: 100%;
    list-style-type: none;
    padding: 0;

    &__item {
      align-items: center;
      display: flex;
      position: relative;

      &--active {
        &::before {
          background-color: $color-accent1;
          border-radius: 4px 4px 0 0;
          bottom: 0;
          content: '';
          height: 4px;
          left: 0;
          position: absolute;
          right: 0;
        }

        & > .header-nav__item-link {
          font-weight: 500;
        }
      }

      &-link {
        color: $color-white-fg;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.2;
        padding: 2px;
        text-decoration: none;

        &:hover {
          color: rgba($color-white-fg, 0.7);
          text-decoration: none;
          transition: ease-in-out 150ms;
        }
      }
    }
  }

  &-search {
    width: 290px;

    &__wrapper {
      display: flex;
      position: relative;
    }

    &__button {
      align-items: center;
      background: $gradient-accent-90;
      border: none;
      border-radius: 4px;
      color: $color-dark-fg;
      display: flex;
      font-size: 12px;
      height: calc(100% - 2px);
      padding: 0 14px;
      pointer-events: none;
      position: absolute;
      right: 1px;
      top: 1px;
    }

    &__input {
      background: $color-light-bg;
      border: 1px solid $color-border;
      border-radius: 4px;
      color: $color-light-fg;
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 1.2;
      padding: 10px 50px 10px 12px;
      width: 290px;

      &::placeholder {
        color: rgba($color-light-fg, 0.7);
      }
    }

    &__toggle {
      align-items: center;
      background: $gradient-accent-90;
      border: none;
      border-radius: 4px;
      color: $color-dark-fg;
      cursor: pointer;
      display: none;
      font-size: 12px;
      height: 40px;
      justify-content: center;
      width: 40px;
    }
  }

  &-mobile {
    background: $color-white-bg;
    border-radius: 10px;
    bottom: 14px;
    box-shadow: 0 11px 15px -7px rgba($color-white-fg, 20%), 0 24px 38px 3px rgba($color-white-fg, 14%), 0 9px 46px 8px rgba($color-white-fg, 12%);
    display: none;
    flex-direction: column;
    left: 14px;
    padding: 24px;
    position: fixed;
    right: 14px;
    row-gap: 20px;
    top: 14px;
    z-index: 899;

    &__close {
      align-items: center;
      background: transparent;
      border: none;
      color: $color-white-fg;
      cursor: pointer;
      display: flex;
      font-size: 30px;
      padding: 0;
      position: absolute;
      right: 24px;
      top: 29px;

      &:hover {
        color: rgba($color-white-fg, 0.7);
        text-decoration: none;
        transition: ease-in-out 150ms;
      }
    }

    & .sidebar {
      border: none;
      display: block;
      height: 100%;
      padding: 0;
      width: 100%;

      &__header {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
      }

      &__body {
        &-wrapper {
          height: calc(100% - 55px);
          overflow-y: auto;
          padding-bottom: 0;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    &-search {
      display: none;

      &__toggle {
        display: flex;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    &__toggle {
      display: flex;
    }

    & .header-nav {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;

    &__right {
      column-gap: 24px;
    }

    &-mobile {
      padding: 15px;

      &__close {
        right: 15px;
        top: 20px;
      }
    }
  }
}
