@import '../_vars';

.header {
  align-items: center;
  background-color: $color-white-bg;
  border-bottom: 1px solid $color-border;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 32px;

  &__left {
    align-items: center;
    column-gap: 30px;
    display: flex;
    height: 100%;
  }

  &__right {
    align-items: center;
    column-gap: 32px;
    display: flex;
    height: 100%;
  }

  &__link-brand {
    color: $color-white-fg;
    display: flex;
    font-size: 30px;

    &:hover {
      color: rgba($color-white-fg, 0.7);
      transition: ease-in-out 150ms;
    }
  }

  &__toggle {
    background: transparent;
    border: none;
    color: $color-white-fg;
    display: none;
    font-size: 30px;
    padding: 0;
  }

  &-brand {
    align-items: center;
    column-gap: 4px;
    display: flex;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      transition: ease-in-out 150ms;
    }

    &__logo {
      height: 40px;
      width: 40px;
    }

    &__text {
      color: $color-white-fg;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  &-nav {
    align-items: stretch;
    column-gap: 30px;
    display: flex;
    height: 100%;
    list-style-type: none;

    &__item {
      align-items: center;
      display: flex;
      position: relative;

      &--active {
        &::before {
          background-color: $color-accent1;
          border-radius: 4px 4px 0 0;
          bottom: 0;
          content: '';
          height: 4px;
          left: 0;
          position: absolute;
          right: 0;
        }

        & > #{&}-link {
          font-weight: 500;
        }
      }

      &-link {
        color: $color-white-fg;
        font-size: 16px;
        font-style: normal;
        font-weight: normal;
        line-height: 1.2;
        padding: 2px;
        text-decoration: none;

        &:hover {
          color: rgba($color-white-fg, 0.7);
          transition: ease-in-out 150ms;
        }
      }
    }
  }

  &-mobile {
    background: $gradient-accent;
    border-radius: 10px;
    bottom: 15px;
    display: none;
    flex-direction: column;
    left: 15px;
    padding: 32px;
    position: fixed;
    right: 15px;
    row-gap: 20px;
    top: 15px;
    z-index: 899;

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__headline {
      color: $color-dark-fg;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.025em;
      line-height: 1.2;
    }

    &__close {
      align-items: center;
      background: transparent;
      border: none;
      color: $color-dark-fg;
      display: flex;
      font-size: 30px;
      padding: 0;

      &:hover {
        color: rgba($color-dark-fg, 0.7);
        transition: ease-in-out 150ms;
      }
    }

    &__body {
      position: relative;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    &__toggle {
      display: flex;
    }

    &-nav {
      column-gap: 0;
      flex-direction: column;
      row-gap: 10px;

      &__item-link {
        color: rgba($color-dark-fg, 0.8);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;

        &:hover {
          color: $color-dark-fg;
        }
      }
    }

    & .header-nav {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;

    &-nav {
      row-gap: 10px;

      &__item-link {
        font-size: 16px;
      }
    }

    &-mobile {
      padding: 20px 15px;

      &__headline {
        font-size: 20px;
      }

      &__close {
        align-items: flex-start;
      }
    }
  }
}
