@import '../_vars';

.search {
  background: transparent;
  border: none;
  border-radius: 34px;
  color: $color-light-fg;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  min-width: 390px;
  padding: 24px 78px 24px 24px;
  z-index: 1;

  &::placeholder {
    color: rgba($color-light-fg, 0.7);
  }

  &__wrapper {
    background-color: $color-light-bg;
    border: 1px solid $color-border;
    border-radius: 34px;
    display: flex;
    position: relative;
  }

  &__button {
    background: $gradient-accent-90;
    border-radius: 50%;
    color: $color-white-bg;
    content: '';
    display: flex;
    font-size: 14px;
    padding: 17px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 0;
  }
}

@media (max-width: 575.98px) {
  .search {
    min-width: 290px;
  }
}
