@import '../_vars';

.sidebar {
  border-right: 1px solid $color-border;
  padding-bottom: 96px;
  width: 320px;

  &__header {
    padding: 15px 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 20px;
  }

  &__section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    row-gap: 4px;

    &--expanded {
      & > .sidebar {
        &__section-headline {
          & > svg:nth-child(1) {
            display: none;
          }

          & > svg:nth-child(2) {
            display: inline-block;
          }
        }

        &__items {
          display: flex;
        }
      }
    }

    &-headline {
      background: transparent;
      border: none;
      color: $color-white-fg;
      column-gap: 4px;
      cursor: pointer;
      display: flex;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.08em;
      line-height: 1.2;
      padding: 0;
      text-transform: uppercase;

      & > svg:nth-child(2) {
        display: none;
      }
    }
  }

  &__items {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    row-gap: 10px;
    width: 100%;
  }

  &__item {
    &-link {
      color: rgba($color-white-fg, 0.7);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      text-decoration: none;

      &:hover {
        color: $color-white-fg;
        text-decoration: none;
        transition: ease-in-out 150ms;
      }

      &--active {
        color: $color-white-fg;
        font-weight: 600;
      }
    }
  }
}
