@import '_vars';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

h1 {
  color: $color-white-fg;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  color: $color-white-fg;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h3 {
  color: $color-white-fg;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h4 {
  color: $color-white-fg;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

p {
  color: $color-white-fg;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

blockquote {
  background-color: rgba($color-success-bg, 0.2);
  border-left: 8px solid rgba($color-success-bg, 0.8);
  border-radius: 8px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 12px 24px;

  & * {
    color: $color-success-fg;
  }
}

pre {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

pre code {
  background-color: $color-white-bg;
  border: 1px solid $color-border;
  border-radius: 24px;
  color: $color-white-fg;
  display: block;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  padding: 24px;
}

pre code:not([class^='language-the']) {
  background-color: $color-light-bg;
  color: $color-light-fg;
}

h1, h2, h3, h4, h5, h6, p {
  & code {
    background-color: rgba($color-success-bg, 0.3);
    color: $color-white-fg;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-style: normal;
    padding: 2px 5px;
  }
}

p code {
  background-color: rgba($color-success-bg, 0.3);
  color: $color-white-fg;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625;
  padding: 2px 5px;
}

ul {
  padding-inline-start: 24px;

  & > li {
    font-size: 16px;
    line-height: 1.5;
  }
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    transition: ease-in-out 150ms;
  }

  & code {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: $color-accent1;
      transition: ease-in-out 150ms;
    }
  }
}

img {
  max-width: 100%;
}

table {
  border-spacing: 10px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@import '_includes/banner';
@import '_includes/brand';
@import '_includes/code';
@import '_includes/footer';
@import '_includes/header';
@import '_includes/pagination-navigation';
@import '_includes/search';
@import '_includes/search-modal';
@import '_includes/sidebar';
@import '_includes/table-of-contents';
@import '_layouts/error';
@import '_layouts/home';
@import '_layouts/page';
@import '_layouts/post';
