@import '../_vars';

.error-layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: max(calc((100vh - 270px) / 2 / 6 * 5), 64px) 15px max(calc((100vh - 270px) / 2 / 6 * 7), 64px);
  row-gap: 30px;

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    color: $color-white-fg;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    line-height: 1.2;
  }

  & > h1 {
    margin-bottom: 16px;
  }
}

@media (max-width: 575.98px) {
  .error-layout {
    padding-bottom: max(calc((100vh - 234px) / 2 / 6 * 7), 64px);
    padding-top: max(calc((100vh - 234px) / 2 / 6 * 5), 64px);

    &__subtitle {
      font-size: 16px;
      text-align: center;
    }

    & > h1 {
      text-align: center;
    }
  }
}
