@import '../_vars';

.page-layout {
  display: flex;
  flex-grow: 1;
  width: 100%;

  &__body {
    flex: 1 0 0;
    width: 100%;
  }

  &__content {
    padding: 0 15px 15px;
  }
}

@media (min-width: 768px) {
  .page-layout {
    &__body {
      width: calc(100% - 245px);
    }

    &__content {
      padding: 0 32px 32px;
    }
  }
}

@media (min-width: 992px) {
  .page-layout {
    &__content {
      padding-right: 275px;
    }
  }
}
